html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  
  --border-color: rgb(226, 232, 240);
  --header-height: 3.6rem;
  --sidebar-width: 16.4rem;
  --text-color: #2c3e50;
  --text-color-light: #476582;
  --code-bg-color: #282c34;
  --accent-color: #3eaf7c;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0;
}

.edit-wrap{
     padding:20px;
     width: 578px;
     height: 100%;
     border: 1px solid #ccc;
     background:#fff;
     border-radius: 5px;
  }

.btns-wrap{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 5px 60px 10px 60px;
}
.ant-popover-inner-content{
  padding: 5px;
}



